html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-sm);
  color: var(--color-black);
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-inline-size: 0;
}

legend {
  border: 0;
  padding: 0 0 0 0;
  margin: 0;
  font: inherit;
  background: transparent;
  float: none !important;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ol, ul {
  list-style: none;
}