html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-sm);
  color: var(--color-black);
}

html, body {
  height: 100%;
}

main {
  flex-grow: 1;
}

div#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-inline-size: 0;
}

legend {
  border: 0;
  padding: 0 0 0 0;
  margin: 0;
  font: inherit;
  background: transparent;
  float: none !important;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font: inherit;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img, video {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
  margin: 0;
}