@use '@styles/abstracts/mixins' as *;

.header {
  min-height: var(--spacing-6x);

  @include mq(md) {
    min-height: 9.4rem;
  }
}

.mobileMenuWrapper {

  .mobileMenu {
    top: 0;
    left: 0;
    z-index: var(--z-drawer);
    background-color: var(--color-white);
  }

  .city-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
  }

}

