@use '@styles/abstracts/mixins' as *;

.header {
  min-height: var(--spacing-6x);

  @include mq(md) {
    min-height: 9.4rem;
  }
}

.desktopMenu {
  display: none;
  @include mq(md) {
    display: block;
    background-color: var(--color-light-gray);
  }
}