@use "@styles/abstracts/mixins" as *;

.footer {
  background-color: var(--color-black);
  color: var(--color-light-gray);
  font-size: var(--font-size-base);
}

.footerSection {
  grid-template-areas:
  "subscription"
  "social"
  "apps"
  "contact"
  "help"
  "company"
  "brand"
  "copyright";
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: var(--spacing-5x) 0 var(--spacing-2-5x);

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "logo subscription"
      "apps contact"
      "help company"
      "brand social"
      "copyright copyright";
    grid-gap: var(--spacing-3x)
  }

  @include mq(lg) {
    grid-template-areas:
    "logo . subscription subscription subscription"
    "apps contact help company brand"
    "social . . copyright copyright";
    grid-template-columns: 35rem repeat(4, 1fr);
    grid-gap: var(--spacing-6x) var(--spacing-2x);

  }
}

.footerCol {
  li > a {
    display: block;
    font-size: var(--font-size-xs);
    color: var(--color-dark-grey);
  }

  li:not(:last-child) {
    margin-bottom: var(--spacing-2x);
  }
}

.footerContacts {
  grid-area: contact;
}

.footerHelp {
  grid-area: help;
}

.footerCompany {
  grid-area: company;
}

.footerBrand {
  grid-area: brand;
}

.footerCopyright {
  grid-area: copyright;
}