@use "@styles/abstracts/mixins" as *;

.footer {
  background-color: var(--color-black);
  color: var(--color-light-gray);
  font-size: var(--font-size-base);
}

.footerSection {
  grid-template-areas:
  "subscription"
  "social"
  "apps"
  "contact"
  "help"
  "company"
  "brand";
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding-top: 5rem;

  @include mq(md) {
    grid-template-areas:
    "logo subscription subscription subscription subscription"
    "apps contact help company brand"
    "social . . . copyright";
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: var(--spacing-6x);
  }
}

.footerColContact {
  grid-area: contact;
}

.footerColHelp {
  grid-area: help;
}

.footerCompany {
  grid-area: company;
}

.footerBrand {
  grid-area: brand;
}
