@use "@styles/abstracts/mixins" as *;

.menu {
  top: 0;
  left: 0;
  padding: var(--spacing-5x) 0 var(--spacing-2x);
  z-index: var(--z-drawer);
  background-color: var(--color-white);
}

.linksWrapper {
  padding: 0 var(--spacing-2x);
  font-size: var(--font-size-xs);
}

.actions {
  padding: var(--spacing-2x) 0;
  @include gap(var(--spacing-1x), 0);
}

.links {
  @include gap(var(--spacing-1x), var(--spacing-2x));
}