.nav {
  overflow-y: auto;
  padding: var(--spacing-5x) 0 var(--spacing-2x);

  .closeButton {
    top: var(--spacing-1x);
    right: var(--spacing-1x);
  }

  li {
    padding: var(--spacing-1x) 0 var(--spacing-1x);
    border-bottom: 1px solid var(--color-gray);

    a {
      line-height: 1.8;
      padding-right: var(--spacing-2x);
      padding-left: var(--spacing-2x);
    }
  }
}