.gallery {
  margin-bottom: var(--spacing-4x);
}

.swiperGallery {
  margin-top: var(--spacing-2-5x);
  min-height: 44.5rem;
}

.imageWrapper {
  aspect-ratio: 1 / 1;
  max-height: 37.4rem;
  margin: 0 auto;
}