@use '@styles/abstracts/mixins' as *;

.headerActions {
  flex: 1;
  min-width: 0;
  @include gap(var(--spacing-2-5x));

  .userNavIcon {

    .label {
      display: none;
    }
  }

  @include mq(md) {
    .userNavIcon {
      display: flex;
      @include gap(var(--spacing-1x));

      .label {
        display: inline;
      }
    }
  }
}