.categoryWrapper {

}

.header {
  text-transform: capitalize;
}

.sort {
  margin-bottom: var(--spacing-2x);
}

.productList {
  margin-bottom: var(--spacing-2x);
}

.pagination {
  margin-bottom: var(--spacing-2x);
}