@use "@styles/abstracts/mixins" as *;

.form {
  flex-direction: column;
  gap: var(--spacing-2-5x);
  margin-bottom: var(--spacing-4x);

  @include mq(lg) {
    flex-direction: row;
    padding: var(--spacing-1x);
    border: 1px solid var(--color-dark-grey);
    border-radius: 4px;
    background-color: var(--color-light-gray);
  }
}

.textareaWrapper {
  padding: var(--spacing-2x);
  min-height: 7rem;
  border: 1px solid var(--color-dark-grey);
  border-radius: 4px;
  background-color: var(--color-light-gray);

  @include mq(lg) {
    min-height: unset;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.text {
  border: none;
  padding: 0;
  background-color: transparent;
  line-height: 1.4;
  color: var(--color-dark-grey);
  resize: none;
}

.stars {
  gap: var(--spacing-2x);
}

.submit {
  padding: var(--spacing-1x) var(--spacing-1x);
  min-height: var(--spacing-5x);
  min-width: 27.8rem;
}