@use "@styles/abstracts/mixins" as *;

.catalogControls {
  background-color: var(--color-gray);
  @include mq(md) {
    display: none;
  }
}

.sortButton {
  min-width: 0;
  width: 50%;
  gap: var(--spacing-1-5x);

  &::before {
    position: absolute;
    content: "";
    right: 0;
    width: 1px;
    height: 33px;
    background-color: var(--color-white);
  }
}

.filterButton {
  display: block;
  width: 50%;
  min-width: 0;
}

.sortButton,
.filterButton {
  @include btn-base;
  @include btn-size(var(--spacing-1-5x), var(--spacing-1-5x));
  @include btn-font(var(--font-size-base), 1.3, var(--font-weight-bold))
}

.sortWrapper {
  gap: var(--spacing-2-5x);
}