.nav {
  overflow-y: auto;

  li {
    padding: var(--spacing-1x) var(--spacing-2x) var(--spacing-1x);
    gap: var(--spacing-2x);
    border-bottom: 1px solid var(--color-gray);

    a {
      flex: 1;
      line-height: 1.8;
    }

    .icon {
      flex-shrink: 0;
    }
  }
}

.menu {
  max-height: 50vh;
  overflow-y: auto;
}