.nav {
  overflow-y: auto;

  li {
    padding: var(--spacing-1x) 0 var(--spacing-1x);
    border-bottom: 1px solid var(--color-gray);

    a {
      line-height: 1.8;
      padding-right: var(--spacing-2x);
      padding-left: var(--spacing-2x);
    }
  }
}

.menu {
  max-height: 60vh;
  overflow-y: auto;
}