.paginationNav {
  aspect-ratio: 1;
  min-width: 4rem;
  border: 1px solid var(--color-gray);
  border-radius: 4px;

  &:disabled {
    background-color: var(--color-light-gray);
    border: none;
  }
}