@use "@styles/abstracts/mixins" as *;

.page {
  @include mq(md) {
    margin-top: var(--spacing-4x);
    background-color: unset;
  }
}

.overview {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas:
  'gallery'
  'sidebar'
  'description'
  'specs'
  'reviews';

  @include mq(lg) {
    grid-template-columns: minmax(0, 1fr) clamp(36rem, 30vw, 42rem);
    grid-template-areas:
    'gallery sidebar'
    'gallery sidebar'
    'description sidebar'
    'specs sidebar'
    'reviews reviews';
    column-gap: var(--spacing-5x);
  }
}

.gallery {
  grid-area: gallery;
}

.sidebar {
  grid-area: sidebar;
  margin-bottom: var(--spacing-4x);
  @include mq(lg) {
    margin-bottom: 0;
  }
}

.description {
  grid-area: description;
  margin-bottom: var(--spacing-4x);
}

.specs {
  grid-area: specs;
  margin-bottom: var(--spacing-4x);
}

.reviews {
  grid-area: reviews;
}