@use "@styles/abstracts/mixins" as *;

.homeWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "products"
    "pagination";
  grid-row-gap: var(--spacing-2x);
  margin: var(--spacing-2x) 0;

  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    ". . . sort"
    "filter products products products"
    "filter pagination pagination pagination"
    "filter showMore showMore showMore";
    grid-gap: var(--spacing-2-5x);
    margin: var(--spacing-2-5x) 0;
  }
}

.sort {
  display: none;

  @include mq(md) {
    grid-area: sort;
    display: block;
  }
}

.filters {
  display: none;

  @include mq(md) {
    grid-area: filter;
    display: block;
  }
}

.productList {
  grid-area: products;
}

.pagination {
  grid-area: pagination;
  justify-self: center;
}
