@use "@styles/abstracts/mixins" as *;

.sku {
  font-size: var(--font-size-xs);
  margin-bottom: var(--spacing-2x);
}

.rating {
  gap: var(--spacing-1x);
  margin-bottom: var(--spacing-1x);
}

.ratingValue {
  flex-grow: 1;
  gap: var(--spacing-1x);

  @include mq(md) {
    gap: var(--spacing-2x);
  }
}

.starFilled {
  color: var(--color-red);
}

.reviewCount {
  color: var(--color-dark-grey);

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    @include underline();
  }
}

.addToFavorite {
  flex-shrink: 0;
}

.title {
  font-size: var(--font-size-4xl);
  line-height: 1.67;
  margin-bottom: var(--spacing-1x);

  @include mq(md) {
    margin-bottom: var(--spacing-2x);
  }
}

.pricing {
  gap: var(--spacing-1-5x);
}

.discount {
  flex: 0 0 auto;
  line-height: 1.8;
  padding: 0 var(--spacing-1x);
  color: var(--color-white);
  background-color: var(--color-red);
}

.price {
  flex: 1 0 auto;
  margin-right: var(--spacing-1-5x);
  font-size: 3.2rem;
  white-space: nowrap;
  font-weight: var(--font-weight-bold);
}

.priceAccent {
  color: var(--color-red);
}

.oldPrice {
  flex: 0 0 auto;
  white-space: nowrap;
  text-decoration: line-through;
}

.oldPriceMobile {
  @include mq(md) {
    display: none;
  }
}

.oldPriceDesktop {
  display: none;

  @include mq(md) {
    display: inline-block;
  }
}

.pricingAdditional {

}

.isLowerPrice {
}
